<h1>Registration</h1>
<form #myform="ngForm" (ngSubmit)="addUser(user)">
  <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
    <label for="name" class="control-label">User Name:</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="user.name" #name="ngModel" required>
    <div *ngIf="name.invalid && (myform.submitted || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required"> User name is required</div>
    </div>
  </div>
  <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
    <label for="email" class="control-label">Email:</label>
    <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" required email>
    <div *ngIf="email.invalid && (myform.submitted || email.touched)" class="alert alert-danger">
      <div *ngIf="email.hasError('required') && email.touched"> Email is required </div>
      <div *ngIf="email.hasError('email') && email.touched"> Email is invalid</div>
    </div>    
  </div>
  <div class="form-group" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid">
    <label for="password" class="control-label">Password:</label>
    <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    <div *ngIf="password.invalid && (myform.submitted || password.touched)" class="alert alert-danger">
      <div *ngIf="password.hasError('required')"> Password is required. </div>
      <div *ngIf="password.hasError('pattern')">Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
    </div>
  </div>
  <div class="form-group" [class.has-error]="confirmpassword.invalid && confirmpassword.touched" [class.has-success]="confirmpassword.valid">
    <label for="password" class="control-label">Confirm Password:</label>
    <input type="password" name="confirmpassword" class="form-control" [(ngModel)]="user.confirmPassword" #confirmpassword="ngModel" pattern="{{ password.value }}" required/>
    <div *ngIf="confirmpassword.invalid && (myform.submitted || confirmpassword.touched)" class="alert alert-danger">
      <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
      <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Submit</button>
</form>
<app-data-pass-to-component [childArray]="userArray"></app-data-pass-to-component>

