<h1>Add Products</h1>
<form #myform="ngForm" (ngSubmit)="addProduct(product)">
  <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
    <label for="name" class="control-label">Product Name:</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="product.name" #name="ngModel" required>
    <span class="help-block" *ngIf="name.invalid && name.touched">Product name is required</span>
  </div>
  <div class="form-group" [class.has-error]="price.invalid && price.touched" [class.has-success]="price.valid">
    <label for="price" class="control-label">Price:</label>
    <input type="number" class="form-control" name="price" [(ngModel)]="product.price" #price="ngModel" required>
    <span class="help-block" *ngIf="price.invalid && price.touched">Price is required</span>
  </div>
  <div class="form-group" [class.has-error]="description.invalid && description.touched" [class.has-success]="description.valid">
    <label for="description" class="control-label">Description:</label>
    <textarea type="text" class="form-control" name="description" [(ngModel)]="product.description" #description="ngModel" required></textarea>
    <span class="help-block" *ngIf="description.invalid && description.touched">Description is required</span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="myform.invalid">Submit</button>
</form>

