<header>
  <div class="container">
    <a href="#" class="logo">My Latest Angular App</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/product">Product</a></li>
        <li><a href="#" routerLink="/registration">Registration</a></li>
        <li><a href="#" routerLink="/dynamic-form">Dynamic Form</a></li>
        <li><a href="#" routerLink="/reactive-form">Reactive Form</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>
